*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(36, 105, 180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: white;
    display: flex;
    padding: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: bold;
    margin-bottom: 10px;
    animation-name: h1;
    position: relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
p{
    margin-bottom: 20px;
    animation-name: p;
    position: relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
button{
    width:120px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 153, 255, 0.582);
    border: 2px solid ;
    opacity: 0;
    animation-name: btn;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transition-property: transform, background-color;
    transition-duration: 1s;
}

@keyframes h1 {
    0%{
        top: -1000px;
    }
    100%{
        top: 0px;
    }
}
@keyframes p{
    0%{
        left: -1000px;
    }
    100%{
        left: 0px;
    }
}
@keyframes btn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
button:hover{
    transform: scale(1.2);
    background-color: rgb(0, 153, 255);
}
button:active{
    transform: scale(0.2);
    background-color: rgb(0, 153, 255);
}
